* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 55%;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 62.5%;
  }

  @include respond(phone) {
    font-size: 60%;
  }
}

body {
  background-color: var(--background-color);
}

h3 {
  font-size: 4.5rem;
  color: var(--font-color);
}

p {
  color: var(--font-color);
  font-size: 1.5rem;
}
