@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
:root {
  --background: #eeeeee;
  --font: #000000;
  --light-1: #f5f5f5;
  --light-2: #f1f1f1;
  --light-shadow: 0 0 4rem rgba(0, 0, 0, 0.05);
  --dark-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
  --dark-1: #e4e4e4;
  --light-text: #696969;
  --translucent: #e4e4e450; }

html[data-theme="dark"] {
  --background: #222222;
  --font: #ffffff;
  --light-1: #262626;
  --light-2: #282828;
  --light-shadow: 0 0 4rem rgba(0, 0, 0, 0.05);
  --dark-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
  --dark-1: #474747;
  --light-text: #bdbdbd;
  --translucent: #47474750; }

html[data-theme="light"] {
  --background: #eeeeee;
  --font: #000000;
  --light-1: #f5f5f5;
  --light-2: #f1f1f1;
  --light-shadow: 0 0 4rem rgba(0, 0, 0, 0.05);
  --dark-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
  --dark-1: #e4e4e4;
  --light-text: #696969;
  --translucent: #e4e4e450; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 55%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box;
  background-color: var(--background);
  min-height: 100vh;
  font-family: "Poppins", "IBM Plex Sans Thai", sans-serif;
  color: var(--font); }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.background {
  background-color: #fd5252;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden; }
  .background__logo {
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: #fff;
    font-size: 4rem;
    font-weight: 600; }
    @media only screen and (max-width: 56.25em) {
      .background__logo {
        font-size: 3rem; } }
  .background__copy {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: #fff;
    opacity: 0.5;
    font-size: 1.5rem;
    width: 20vw;
    text-align: right; }

h1 {
  font-size: 3rem; }

p {
  font-size: 1.5rem; }

.accent {
  color: #fd5252; }

.light {
  font-weight: 500;
  color: #929191; }

.login__floater {
  margin: 3rem;
  padding: 4rem;
  height: calc(100vh - 6rem);
  width: 50%;
  background-color: var(--background);
  box-shadow: 0 0 4rem #00000005;
  border-radius: 1.1rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .login__floater {
      width: 100%;
      margin: 10rem 0rem 0rem 0rem;
      padding: 2.5rem;
      overflow-y: scroll; } }
  .login__floater h1 {
    line-height: 120%;
    font-size: 3.5rem; }

.login__title {
  margin-bottom: 3rem; }

.login__fieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }
  .login__fieldContainer p {
    font-weight: 600;
    margin-bottom: 1rem; }
  .login__fieldContainer input {
    background-color: var(--light-2);
    border-radius: 1.1rem;
    border: none;
    box-shadow: 0 0 4rem #00000010;
    padding: 2rem;
    width: 50%;
    font-size: 1.5rem;
    font-family: "Poppins", "IBM Plex Sans Thai", sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .login__fieldContainer input {
        width: 100%; } }
    .login__fieldContainer input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #cecece;
      opacity: 1;
      /* Firefox */ }

.login__submitContainer {
  display: flex;
  align-items: center;
  margin-top: 10rem; }
  .login__submitContainer a {
    font-size: 1.3rem;
    color: var(--light-text);
    margin-right: 2rem; }
    .login__submitContainer a:hover {
      color: #fd5252; }

.login__submit {
  padding: 2rem;
  border-radius: 10rem;
  background-color: #fd5252;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  width: 15rem;
  margin-left: auto;
  transition: all 0.2s;
  box-shadow: 0 0 2rem #00000005;
  font-family: "Poppins"; }
  .login__submit:hover {
    box-shadow: 0 0 2rem #fd5252;
    transform: translateY(-0.5rem); }
  .login__submit:active {
    box-shadow: 0 0 1rem #fd5252;
    transform: translateY(0); }

.login__optionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem; }

.login__option {
  width: 100%;
  background-color: var(--light-2);
  box-shadow: 0 0 2rem #00000005;
  padding: 3rem;
  color: #000;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 1.1rem;
  transition: all 0.2s; }
  .login__option:hover {
    color: #fd5252;
    transform: translateY(-0.5rem); }
  .login__option:active {
    transform: translateY(0rem); }

.signup__fieldGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .signup__fieldGrid {
      grid-template-columns: 1fr;
      gap: 0; } }
  .signup__fieldGrid input {
    width: 100%; }

.signup__imgInputWrapper {
  background-color: var(--light-2);
  border-radius: 1.1rem;
  border: none;
  box-shadow: 0 0 4rem #00000010;
  padding: 2rem;
  width: 50%;
  font-size: 1.5rem;
  font-family: "Poppins", "IBM Plex Sans Thai", sans-serif;
  height: 20rem;
  width: 100%;
  position: relative; }
  .signup__imgInputWrapper img {
    height: 15rem;
    width: 15rem;
    border-radius: 1.1rem;
    object-fit: cover;
    box-shadow: 0 0 4rem #00000010; }
  .signup__imgInputWrapper input {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3; }
  @media only screen and (max-width: 56.25em) {
    .signup__imgInputWrapper {
      width: 100%; } }
  .signup__imgInputWrapper::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cecece;
    opacity: 1;
    /* Firefox */ }

.signup__imgInputCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.signup__imgInputEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .signup__imgInputEmpty i {
    font-size: 4rem; }
